useDynLib(fastCircularPermutations, .registration = TRUE)
export(
	"prepareBinaryDataLeft",
	"prepareBinaryDataRight",
	"circularPermutationAnalysis",
	"getOffsetsAll",
	"getOffsetsRandom",
	"getOffsetsUniform",
	"singleCircularPermutation"
)
importFrom("stats","fisher.test")
