useDynLib(shiftR, .registration = TRUE)
export(
	"prepareBinaryDataLeft",
	"prepareBinaryDataRight",
	"circularPermutationAnalysis",
	"cramerV",
	"getOffsetsAll",
	"getOffsetsRandom",
	"getOffsetsUniform",
	"singleCircularPermutation"
)
importFrom("stats", "fisher.test", "sd")
